<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Template

		link(rel="stylesheet", href="css/main.css")
		// build:js js/jq.min.js
		script(src="bower/jquery/jquery.js")
		// end build
	body
		include ./parts/header
	