header.header
	.header__conteiner
		.header-logo
			img(src="", alt="header logo")
		.header__menu
			ul.menu-list
				li.menu-list-item
					h3.list-item-title Title1
					div.list-item-content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam iure id optio assumenda quas. 
				li.menu-list-item
					h3.list-item-title Title2
					div.list-item-content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam iure id optio assumenda quas. 
				li.menu-list-item
					h3.list-item-title Title3
					div.list-item-content
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam iure id optio assumenda quas. 
			
