header.header
	.header-logo
		img(src="", alt="header logo")
	.header__menu
		ul.header__menu-list
			li.header__menu-list-item Пункт 1
			li.header__menu-list-item Пункт 2
			li.header__menu-list-item Пункт 3
			
			
