.menu-list{
	list-style-type: none;
}

.menu-list-item{
	width: 200px;

}

.list-item-title{
	margin:  auto;
	height: 50px;
	background-color: grey;
	text-align:  center;
	padding-top:  12px;
	box-sizing:  border-box;
	border-bottom:  1px solid white;
}